:root {
    --heart-size: 80px;
    --heart-border-radius: 50px;

    --arrow-size: 200px;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff94bf;
}

.heart {
    height: var(--heart-size);
    width: var(--heart-size);
    background: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
}

.heart:before {
    content: '';
    position: absolute;
    height: var(--heart-size);
    width: var(--heart-size);
    background: #f20044;
    top: -60%;
    border-radius: var(--heart-border-radius);
    box-shadow: -10px -10px 90px #f20044;
}

.heart:after {
    content: '';
    position: absolute;
    height: var(--heart-size);
    width: var(--heart-size);
    background: #f20044;
    right: -60%;
    border-radius: var(--heart-border-radius);
    box-shadow: 10px 10px 90px #f20044;
}

.arrow {
    position: relative;
    width: 250px;
    height: 180px;
    background-color: gold;
    border-radius: 2px;

    clip-path: polygon(
            82.352% 50.003%, 82.363% 49.793%, 87.844% 44.357%, 86.186% 42.714%,
            80.01% 48.836%, 78.112% 48.836%, 82.629% 44.357%, 80.97% 42.714%,
            74.795% 48.836%, 72.897% 48.836%, 77.414% 44.357%, 75.755% 42.714%,
            69.577% 48.836%, 28.26% 48.836%, 31.021% 43.176%, 13.933% 49.356%,
            12.156% 49.999%, 13.933% 50.642%, 31.021% 56.822%, 28.26% 51.162%,
            69.577% 51.162%, 75.755% 57.286%, 77.414% 55.641%, 72.897% 51.162%,
            74.795% 51.162%, 80.97% 57.286%, 82.629% 55.641%, 78.112% 51.162%,
            80.01% 51.162%, 86.186% 57.286%, 87.844% 55.641%, 82.363% 50.204%,
            82.352% 50.003%
    );
}